.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:1em;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logo{
    margin-right: 1em;
    font-size: x-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin:0 1em;
}

.btn{
    margin:0 10px;
}



.task-wrapper{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.task-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgb(184, 16, 16);
}

